@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap");
@import "tailwindcss";

@theme {
  --color-kwdr-fg: #c5c9c5;
  --color-kwdr-bg: #181616;
  --color-kwdr-fg--muted: #a6a69c;
  --font-plex-mono: "IBM Plex Mono", "consolas", monospace;
  --font-playwrite-in: "Playwrite IN", "Segoe UI", cursive;
  --text-2xs: 10px;
  --text-3xs: 8px;
}

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-plex-mono);
  }
  span,
  strong,
  b,
  i,
  div > p,
  ul > li {
    font-family: inherit;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  /* width and height both are specified for vertical and horizontal scrollbars respectively, only the relevant property is used for the type of scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
    background-color: var(--color-kwdr-fg--muted);
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    /* background: var(--color-kwdr-fg--muted); */
    background: color-mix(in srgb, var(--color-kwdr-bg) 50%, transparent);
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-button:single-button {
    /* background: color-mix(in srgb, var(--color-kwdr-bg) 50%, transparent); */
    border-radius: 4px;
    cursor: pointer;
  }

  .header-btn {
    @apply size-8 bg-kwdr-bg outline-1 outline-kwdr-fg rounded-lg flex justify-center items-center active:scale-95 transition-[scale] cursor-pointer;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-1/2;
  }

  .playwrite-3xl-bold {
    @apply font-playwrite-in text-3xl font-bold tracking-wide;
  }

  .playwrite-6xl-reg {
    @apply font-playwrite-in text-6xl;
  }

  .playwrite-base-light {
    @apply font-playwrite-in text-xs/7.5 min-[425px]:text-sm/8 md:text-base/10 font-light;
  }

  .playwrite-lg-light {
    @apply font-playwrite-in text-sm/8 min-[425px]:text-base/10 md:text-lg/12 font-light;
  }

  .playwrite-small-light {
    @apply font-playwrite-in text-xs/7 md:text-sm/8 font-light;
  }

  .playwrite-xs-light {
    @apply font-playwrite-in text-2xs/6 md:text-xs/7 tracking-tight font-light;
  }

  .playwrite-2xs-light {
    @apply font-playwrite-in text-3xs/5 md:text-2xs/6 tracking-tight font-light;
  }

  .hero-madras {
    background-color: #181616;
    background-image: 
      repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,                  
        hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
        hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
        hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
        hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
        hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px       
    ),
    repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, 
      hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
      hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
      hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
      hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
      hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px       
    );
  }
  
  .hero-squares {
    --border-color: hsl(0, 4%, 16%);
    --size: 720px;
    background: 
      repeating-linear-gradient(90deg, var(--border-color) 0, var(--border-color) 1rem, transparent 0, transparent 50%) 0 / var(--size) var(--size), 
      repeating-linear-gradient(180deg, var(--border-color) 0, var(--border-color) 1rem, transparent 0, transparent 50%) 0 / var(--size) var(--size);
    background-position: -50% -50%;
  }
}

body {
  min-height: 100vh;
  background-color: var(--color-kwdr-fg);
}
