@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-kwdr-fg: #C5C9C5;
  --color-kwdr-bg: #181616;
  --color-kwdr-fg--muted: #A6A69C;
  --font-plex-mono: 'IBM Plex Mono', 'consolas', monospace;
}

@layer base {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-plex-mono);
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0.25rem; height: 0.25rem;
    background-color: var(--color-kwdr-fg);
    border-radius: 4px;
  } 
  .custom-scrollbar::-webkit-scrollbar-thumb {
    /* background: var(--color-kwdr-fg--muted); */
    background: color-mix(in srgb, var(--color-kwdr-bg) 50%, transparent);
    border-radius: 4px;
  } 
  .custom-scrollbar::-webkit-scrollbar-button:single-button {
    background: color-mix(in srgb, var(--color-kwdr-bg) 50%, transparent);
    border-radius: 4px;
    cursor: pointer;
  }
}

body {
  min-height: 100vh;
  background-color: var(--color-kwdr-fg);
}